.side_bar
  .side_bar__score_header
    .name seo
    .list
      .list__edit
        = link_to "/",class: "icon" do
          = icon('fas', 'edit')
      .list__setting 
        = link_to "/",class: "icon" do
          = icon('fas', 'cog')

  .side_bar__group
    .user
      .user__name 
        Sample
      .user__message 
        Good bye world
    .user
      .user__name 

      .user__message 