.side_bar{
  float: left;
  height: 100vh;
  padding: 0;
  margin: 0;
  &__score_header{
    display: flex;
    flex-direction: row;
    padding: 20px 20px 0 20px;
    margin: 0px;
    color:white;
    background:#253141;
    width:260px; 
    height:82px;
    .name{
      font-size: 16px;
      width: 200px;
      padding: 0 100px 0 0；；
    }
    .list{
      display: flex;
      margin-right: 10px;
      &__edit{
        .icon{
          color:white;
        }
      }
      &__setting{
        .icon{
          color:white;
        }
      }
    }

  }

    
  &__group{
    padding: 0 20px;
    margin: 0px;
    color:white;
    background:#2f3e51;
    width:260px; 
    height: calc(100vh - 102px);
    .user{
      padding: 20px 0;
      a{
        text-decoration: none;
      }
      &__name{
        color:white;
        font-size: 15px;
      }
      &__message{
        color:white;
        font-size: 11px;
      }
    }


  }
  
}



